body{
    color: white;
    background-color: rgb(226, 198, 255);
    font-family: Montserrat;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.background{
    background-color: rgb(192, 164, 221);
    border-radius: 20px;
    margin: 50px;
    padding: 30px;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
    max-width: 500px;
    animation: fadeIn 5s ease forwards;
}


a{
    color: white;
    display: flex;
    align-items: right;
    text-align: right;
    font-weight: 600;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
    padding: 20px;
}

.cariño{
    text-align: left;
    padding: 0;
}

.siguiente{
    display: flex;
    justify-content: right;
    margin: 10px;
}

.final{
    text-align: right;
    padding: 0;
}
iframe{
    margin: 50px;
    box-shadow: 0 15px 20px white;
    animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
    from {
      transform: translateX(-100%);
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    }
    to {
      transform: translateX(0);
      background-color:rgb(192, 164, 221);
    }
  }
